
<!-- <app-requests></app-requests>
<app-view-requests></app-view-requests> -->
<div class="navbar">
    <a routerLink="/pendingrequests">Home</a>
    <!-- <a routerLink="/viewrequest">View Request</a> -->
        <!-- <div class="dropdown">
            <button class="dropbtn">View Request
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">Pending Request</a>
                <a href="#">Aprroved Request</a>
            </div>
        </div>  -->
</div>

<router-outlet></router-outlet>